<div class="list-groups">
  {% for content in data[1] %}
    <div class="list-group col-md-6">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            {% if content.icon %}
              <td class="list-group-category-icon">
                <i class="{{ content.icon }}"></i>
              </td>
            {% else %}
              <td class="list-group-category-icon"></td>
            {% endif %}
            <!-- Calculate colspan number for category title -->
            {% assign i = 1 %}
            {% for item in content.items %}
              {% assign i = i | plus: 1 %}
            {% endfor %}
            <td colspan="{{ i }}" class="list-group-category">
              <a href="{{ content.url }}" target="_blank">{{ content.name }}</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="list-group-name">
              {% if content.reference or content.email or content.phone %}
                <ul class="fa-ul" style="--fa-li-margin: 0; margin-left: 0; padding-left: 0;">
                  {% if content.reference %}
                    {% for ref in content.reference %}
                      <li>
                        <span class="fa-li"><i class="fa fa-map-marker"></i></span>
                        <b>{{ ref }}</b>
                      </li>
                    {% endfor %}
                  {% endif %}
                  {% if content.email or content.phone %}
                    <li style="list-style-type:none; height:0.4em;"></li>
                  {% endif %}
                  {% if content.email %}
                    <li>
                      <span class="fa-li"><i class="fa fa-envelope"></i></span>
                      <a href="mailto:{{ content.email }}">{{ content.email }}</a>
                    </li>
                  {% endif %}
                  {% if content.phone %}
                    <li>
                      <span class="fa-li"><i class="fa fa-phone"></i></span>
                      <a href="tel:{{ content.phone }}">{{ content.phone }}</a>
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
